<template>
  <Head title="Home"/>

  <div class="toast toast-top toast-center">
    <div v-if="success" class="alert alert-success text-white">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white">
        <path
          d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
      </svg>
      <span>{{ success }}</span>
    </div>

    <div v-if="error" class="alert alert-error text-white">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white">
        <path
          d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
      </svg>
      <span>{{ error }}</span>
    </div>
  </div>

  <div class="bg-gray-50">
    <div class="max-w-[480px] mx-auto h-dvh bg-white">

      <div class="bg-gradient-to-b mb-10 from-10% from-white to-orange-100">
        <div class="px-4 pt-4 flex items-center justify-between">
          <div class="flex items-center">
            <Logo class="w-10"></Logo>
            <span class="ml-1 text-3xl italic font-bold">Fuluz</span>
          </div>

          <Link href="/logout" method="delete" as="button">
            <button class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
              </svg>
            </button>
          </Link>
        </div>

        <BalanceCard :balance="auth.user.balance"></BalanceCard>
      </div>

      <div class="px-4 mt-12 flex">
        <ButtonMenu href="/send" title="Send" class="w-1/4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="-rotate-45"
            width="24px"
            height="24px"
            fill="white"
            viewBox="0 0 24 24"
          >
            <path
              class="translate-x-0.5"
              d="M3 20V14L11 12L3 10V4L22 12Z"
            />
          </svg>
        </ButtonMenu>

        <ButtonMenu href="/topup" title="Topup" class="w-1/4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="white"
            viewBox="0 0 24 24"
          >
            <path
              d="M21,19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19C20.11,3 21,3.9 21,5V19M13,18V9.5L16.5,13L17.92,11.58L12,5.66L6.08,11.58L7.5,13L11,9.5V18H13Z"
            />
          </svg>
        </ButtonMenu>

        <ButtonMenu href="/#" title="Withdraw" class="w-1/4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="white"
            viewBox="0 0 24 24"
          >
            <path
              d="M3,5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5M11,6V14.5L7.5,11L6.08,12.42L12,18.34L17.92,12.42L16.5,11L13,14.5V6H11Z"/>
          </svg>
        </ButtonMenu>

        <ButtonMenu href="/#" title="Pay" class="w-1/4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="white"
            viewBox="0 -960 960 960"
          >
            <path
              d="M240-80q-50 0-85-35t-35-85v-120h120v-560l60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-560H320v440h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h240v80H360Zm0 120v-80h240v80H360Zm320-120q-17 0-28.5-11.5T640-640q0-17 11.5-28.5T680-680q17 0 28.5 11.5T720-640q0 17-11.5 28.5T680-600Zm0 120q-17 0-28.5-11.5T640-520q0-17 11.5-28.5T680-560q17 0 28.5 11.5T720-520q0 17-11.5 28.5T680-480Z"/>
          </svg>
        </ButtonMenu>
      </div>

      <div class="card border mx-4 mt-10">
        <div class="card-body px-0 pt-4 pb-2 rounded-lg">
          <div class="px-4">
            <div class="flex">
              <label class="font-semibold grow text-sm">Transaction History</label>
              <Link href="/history" class="text-sm font-medium text-primary">See all</Link>
            </div>

            <div v-if="transactions && transactions.data && transactions.data.length">
              <div v-for="(item, index) in transactions.data" :key="item.id">
                <div
                  v-if="index === 0 || $filters.date(transactions.data[index - 1].created_at) !== $filters.date(item.created_at)"
                  class="mt-7 mb-1 text-gray-400 text-sm font-semibold"
                >
                  {{ $filters.date(item.created_at) }}
                </div>

                <HistoryItem
                  :transaction="item"
                  :class="{'border-b border-b-gray-200': index < transactions.data.length - 1}"
                ></HistoryItem>
              </div>
            </div>

            <div v-else class="text-center py-10 text-sm text-gray-400">
              All your transactions will appear here.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Logo from '@/Shared/Logo'
import ButtonMenu from '@/Shared/ButtonMenu'
import BalanceCard from '@/Shared/BalanceCard'
import HistoryItem from "@/Shared/HistoryItem.vue";

export default {
  components: {
    HistoryItem,
    Head,
    Link,
    Logo,
    ButtonMenu,
    BalanceCard,
  },
  props: {
    auth: Object,
    transactions: Object,
  },
  data() {
    return {
      success: this.$page.props.flash.success,
      error: this.$page.props.flash.error
    }
  },
  mounted() {
    if (this.$page.props.flash.success) {
      setTimeout(() => {
        this.success = ''
      }, 2000)
    }

    if (this.$page.props.flash.error) {
      setTimeout(() => {
        this.error = ''
      }, 2000)
    }
  }
}
</script>
