<template>
  <Head title="History"/>

  <div class="bg-gradient-to-b mb-10 from-white to-orange-100">
    <div class="px-4 w-full">
      <h1 class="font-bold text-3xl">History</h1>
    </div>

    <div class="mb-10">
      <BalanceCard :balance="auth.user.balance" number-only></BalanceCard>
    </div>
  </div>

  <div class="px-4 w-full">
    <label class="form-control w-full">
      <label class="block relative">
        <span class="absolute left-[0.8rem] top-[0.8rem]">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="fill-gray-400" height="20" width="20" version="1.1" id="Capa_1" viewBox="0 0 490.4 490.4" xml:space="preserve">
            <g>
              <path d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796   s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z    M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z"/>
            </g>
          </svg>
        </span>

        <input
          type="text"
          v-model="form.search"
          placeholder="Search"
          class="input input-bordered w-full pl-11 font-medium border-gray-200"
          required
        />

        <button v-if="form.search" class="btn btn-ghost absolute right-0 top-0" @click="form.search = ''">
          Clear
        </button>
      </label>
    </label>

    <div v-if="allTransactions && allTransactions.length">
      <div v-for="(item, index) in allTransactions" :key="item.id">
        <div
          v-if="index === 0 || $filters.date(allTransactions[index - 1].created_at) !== $filters.date(item.created_at)"
          class="mt-7 mb-1 text-gray-400 text-sm font-semibold"
        >
          {{ $filters.date(item.created_at) }}
        </div>

        <HistoryItem
          :transaction="item"
          :class="{'border-b border-b-gray-200': index < transactions.data.length - 1}"
        ></HistoryItem>
      </div>

      <div class="flex justify-center mt-4">
        <button v-if="transactions.next_page_url" class="btn btn-sm btn-ghost" @click="loadMore">
          Load more
        </button>
        <div v-else class="text-center py-2 text-sm text-gray-400">
          Showing all transactions.
        </div>
      </div>
    </div>
    <div v-else class="text-center py-5 text-sm text-gray-400">
      All your transactions will appear here.
    </div>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from "@/Shared/LayoutPage.vue";
import BalanceCard from "@/Shared/BalanceCard.vue";
import HistoryItem from "@/Shared/HistoryItem.vue";
import throttle from "lodash/throttle";
import pickBy from "lodash/pickBy";

export default {
  components: {
    Head,
    Link,
    BalanceCard,
    HistoryItem,
  },
  props: {
    auth: Object,
    transactions: Object,
  },
  layout: Layout,
  data() {
    return {
      allTransactions: this.transactions.data,
      initialUrl: this.$page.url,
      form: this.$inertia.form({
        search: '',
      }),
    };
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/history', pickBy(this.form), {
          preserveState: true,
          onSuccess: () => {
            this.allTransactions = this.transactions.data
            window.history.replaceState({}, this.$page.title, this.initialUrl)
          }
        })
      }, 150),
    },
  },
  methods: {
    async loadMore() {
      // Fetch the next page using Inertia.js
      this.$inertia.get(this.transactions.next_page_url, {}, {
          preserveState: true,
          preserveScroll: true,
          only: ['transactions'],
          onSuccess: () => {
            this.allTransactions = [...this.allTransactions, ...this.transactions.data]
            window.history.replaceState({}, this.$page.title, this.initialUrl)
          }
      })
    }
  }
}
</script>

<style scoped>

</style>
