<template>
  <Head title="Send"/>

  <div class="px-4 w-full">
    <h1 class="font-bold text-3xl mb-6">Send Money</h1>

    <form
      @submit.prevent="send"
    >
      <label class="form-control w-full">
        <label class="label">
          <span class="label-text">Email address</span>
        </label>
        <input
          type="text"
          v-model="form.email"
          name="username"
          class="input input-bordered w-full"
          required
        />
        <label v-if="form.errors.email" class="label">
          <span class="label-text-alt text-error">{{ form.errors.email }}</span>
        </label>
      </label>

      <label class="form-control w-full mt-2">
        <label class="label">
          <span class="label-text">Amount</span>
        </label>

        <label class="block relative">
          <span class="absolute left-4 top-4 text-gray-400">Rp</span>
          <input
            type="text"
            v-model="form.amount"
            name="amount"
            placeholder="0"
            class="input input-bordered w-full pl-10 font-medium"
            required
          />
        </label>
        <label v-if="form.errors.amount" class="label">
          <span class="label-text-alt text-error">{{ form.errors.amount }}</span>
        </label>
        <label v-else class="label">
          <span class="label-text-alt">Balance: Rp{{ $filters.number(auth.user.balance) }}</span>
        </label>
      </label>

      <label class="form-control w-full">
        <label class="label">
          <span class="label-text">Description</span>
        </label>
        <textarea
          class="textarea textarea-bordered h-24"
          v-model="form.description"
          name="description"
        ></textarea>

        <label v-if="form.errors.description" class="label">
          <span class="label-text-alt text-error">{{ form.errors.description }}</span>
        </label>
      </label>

      <button
        class="btn btn-primary btn-block mt-8"
        type="submit"
        :disabled="form.processing"
      >
        <span v-if="form.processing" class="loading loading-spinner"></span>
        Send
      </button>
    </form>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from "@/Shared/LayoutPage.vue";

export default {
  components: {
    Head,
    Link,
  },
  props: {
    auth: Object,
  },
  layout: Layout,
  data() {
    return {
      form: this.$inertia.form({
        email: '',
        amount: null,
        description: null,
      }),
    };
  },
  methods: {
    send() {
      this.form.post('/send')
    },
  }
}
</script>

<style scoped>

</style>
