<template>
  <Head title="Payment"/>

  <div class="px-4">
    <h1 class="font-bold text-3xl mb-3">Complete Payment</h1>

    <p class="leading-6 mb-8 max-w-[320px] text-gray-500">Please complete your payment and upload the payment receipt.</p>

    <div class="w-full mb-4">
      <label class="text-sm text-gray-500">Bank Name</label>

      <div class="font-semibold mt-1 text-lg">Bank Central Asia(BCA)</div>
    </div>

    <div class="w-full mb-4">
      <label class="text-sm text-gray-500">Account Number</label>

      <div class="font-semibold mt-1 text-lg">5021200345</div>
    </div>

    <div class="w-full mb-4">
      <label class="text-sm text-gray-500">Account Name</label>

      <div class="font-semibold mt-1 text-lg">PT Yukk Indonesia</div>
    </div>

    <div class="w-full mb-4">
      <label class="text-sm text-gray-500">Billing Amount</label>

      <div class="font-semibold mt-1 text-lg">Rp{{ $filters.number(transaction.amount) }},-</div>
    </div>

    <form @submit.prevent="verify">
      <label class="form-control w-full mb-8">
        <label class="label pl-0">
          <span class="label-text">Upload receipt*</span>
        </label>

        <input
          type="file"
          @input="form.file = $event.target.files[0]"
          class="file-input input-bordered w-full font-medium"
          required
        />

        <label v-if="form.errors.amount" class="label">
          <span class="label-text-alt text-error">{{ form.errors.amount }}</span>
        </label>
      </label>

      <button
        class="btn btn-primary btn-block mt-2"
        :disabled="form.processing"
      >
        <span v-if="form.processing" class="loading loading-spinner"></span>
        Verify
      </button>
    </form>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from "@/Shared/LayoutPage.vue";

export default {
  components: {
    Head,
    Link,
  },
  layout: Layout,
  props: {
    transaction: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        file: null,
      }),
      amountSuggestions: ['50000', '100000', '200000', '300000', '500000', '1000000']
    }
  },
  methods: {
    verify() {
      this.form.post(`/topup/${this.transaction.code}/verify`)
    },
  },
}
</script>

<style scoped>

</style>
