<template>
  <div class="px-4 pb-4 mt-4">
    <div class="card shadow-md shadow-gray-100 -mb-10 bg-white overflow-hidden">
      <div class="card-body px-4 py-4">
        <div class="flex">
          <div class="grow px-2" :class="{ 'py-3': !numberOnly }">
            <div class="text-gray-400 text-sm font-medium">
              Total Balance
            </div>

            <div
              class="inline leading-9 font-h font-extrabold"
              :class="{ 'text-xl': numberOnly, 'text-2xl': !numberOnly }"
            >
              <span>Rp</span>
              <span>{{ $filters.number(balance) }}</span>
            </div>
          </div>

          <div v-if="!numberOnly">
            <Link
              href="/history"
              class="text-primary font-medium text-sm"
            >
              Show Detail
            </Link>
          </div>
        </div>
      </div>

      <img
        v-if="!numberOnly"
        src="/images/pattern-1.jpeg"
        alt="pattern"
        class="absolute w-48 h-48 rounded-full -bottom-32 -right-16"
      />
    </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'

export default {
  components: {
    Link,
  },
  props: {
    balance: {
      type: Number,
      default: 0
    },
    numberOnly: {
      type: Boolean,
      default: false
    },
  },
}
</script>
