<template>
  <Link class="flex flex-col items-center">
    <span class="card shadow-md shadow-gray-100 bg-primary rounded-xl w-fit">
      <div class="card-body p-2">
        <slot></slot>
      </div>
    </span>

    <div class="mt-2 text-sm">{{ title }}</div>
  </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'

export default {
  props: {
    title: String
  },
  components: {
    Link
  }
}
</script>
