<template>
  <div @click="redirect(transaction)" class="flex justify-between py-3 cursor-pointer">
    <div class="grow text-sm">
      <div v-if="transaction.type === 'App\\Models\\Topup'" class="font-semibold">Topup</div>
      <div v-if="transaction.type === 'App\\Models\\Transfer'" class="font-semibold">Transfer</div>

      <div class="text-xs text-gray-400 mt-2">{{ transaction.code }}</div>
    </div>

    <div class="shrink text-right">
      <div
        class="text-sm font-semibold"
        :class="parseFloat(transaction.amount) > 0 ? 'text-green-500': 'text-red-500'"
      >
      <span
        v-if="transaction.amount > 0"
      >+</span><span
        v-else
      >-</span>
        Rp{{ $filters.number(Math.abs(transaction.amount)) }}
      </div>

      <div v-if="transaction.status === 'pending'" class="mt-2 text-xs text-yellow-600 font-medium">PENDING</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    transaction: Object
  },
  methods: {
    redirect(transaction) {
      if (transaction.type === 'App\\Models\\Topup' && transaction.status === 'pending') {
        this.$inertia.get(`/topup/${transaction.code}`)
      } else if (transaction.receipt_path) {
        window.location.href = transaction.receipt_path
      }
    }
  }
}
</script>

<style scoped>

</style>
