<template>
  <div class="toast toast-top toast-center">
    <div v-if="success" class="alert alert-success text-white">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white">
        <path
          d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
      </svg>
      <span>{{ success }}</span>
    </div>

    <div v-if="error" class="alert alert-error text-white">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white">
        <path
          d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
      </svg>
      <span>{{ error }}</span>
    </div>
  </div>

  <div class="bg-gray-50">
    <div class="max-w-[480px] mx-auto h-dvh bg-white">
      <div class="px-4 py-3">
        <a
          href="#"
          @click="back"
        >
          <button class="btn btn-ghost -ml-3 btn-square">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/>
            </svg>
          </button>
        </a>
      </div>

      <slot></slot>
    </div>
  </div>
</template>

<script>
import {Link} from '@inertiajs/inertia-vue3'
import Logo from "@/Shared/Logo.vue";

export default {
  components: {
    Logo,
    Link
  },
  props: {
    auth: Object,
    flash: Object,
  },
  data() {
    return {
      success: this.flash.success,
      error: this.flash.error
    }
  },
  watch: {
    flash(value) {
      if (value.success) {
        this.success = value.success

        setTimeout(() => {
          this.success = ''
        }, 2000)
      }

      if (value.error) {
        this.error = value.error

        setTimeout(() => {
          this.error = ''
        }, 2000)
      }
    },
  },
  methods: {
    back() {
      window.history.back()
    }
  }
}
</script>
