<template>
  <Head title="Login" />

  <div class="bg-gray-50">
    <div class="max-w-[480px] mx-auto h-dvh bg-white relative overflow-hidden">

      <div class="px-4 mt-8 mb-4 flex items-center justify-center">
        <Logo class="w-14" />
        <span class="ml-1 text-4xl italic font-bold">Fuluz</span>
      </div>

      <h2 class="text-center font-medium leading-5 text-gray-500">
        Transforming Transactions,<br> Redefining Confidence
      </h2>

      <form
        @submit.prevent="login"
        class="w-full px-4 mx-auto max-w-sm mt-10"
      >
        <label class="form-control w-full">
          <input
            type="text"
            v-model="form.email"
            name="username"
            placeholder="Email Address"
            class="input input-bordered w-full"
            required
          />
          <label v-if="form.errors.email" class="label">
            <span class="label-text-alt text-error">{{ form.errors.email }}</span>
          </label>
        </label>

        <label class="form-control w-full mt-2">
          <input
            type="password"
            v-model="form.password"
            name="password"
            placeholder="Password"
            class="input input-bordered w-full"
            required
          />
          <label class="label">
            <span
              v-if="form.errors.password"
              class="label-text-alt text-error"
            >{{ form.errors.password }}</span>
            <a
              href="#"
              class="label-text-alt link ml-auto"
            >
              Forgot Password?
            </a>
          </label>
        </label>

        <button
          class="btn btn-primary btn-block mt-4"
          type="submit"
          :disabled="form.processing"
        >
          <span v-if="form.processing" class="loading loading-spinner"></span>
          Login
        </button>
      </form>

      <div class="px-4 text-center mt-6 text-sm">
        Don't have an account?
        <a
          href="/register"
          class="link block text-primary mt-1"
        >Register Now</a>
      </div>

      <img
        src="/images/bottom-pattern-1.webp"
        alt="pattern"
        class="absolute w-full bottom-0"
      >
    </div>
  </div>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
import Logo from '@/Shared/Logo'
import BalanceCard from "@/Shared/BalanceCard.vue";

export default {
  components: {
    BalanceCard,
    Head,
    Logo,
  },
  data() {
    return {
      form: this.$inertia.form({
        email: 'johndoe@yukk.me',
        password: 'Password!',
        remember: false,
      }),
    }
  },
  methods: {
    login() {
      this.form.post('/login')
    },
  },
}
</script>
