<template>
  <Head title="Register" />

  <div class="bg-gray-50">
    <div class="max-w-[480px] mx-auto h-dvh bg-white relative overflow-hidden">

      <div class="px-4 mt-6 mb-3 flex items-center justify-center">
        <Logo class="w-12" />
        <span class="ml-1 text-3xl italic font-bold">Fuluz</span>
      </div>

      <h2 class="text-center font-medium leading-5 text-gray-500">
        Transforming Transactions,<br> Redefining Confidence
      </h2>

      <form
        @submit.prevent="register"
        class="w-full px-4 mx-auto max-w-sm mt-5"
      >
        <label class="form-control w-full">
          <label class="label">
            <span class="label-text">Full name</span>
          </label>
          <input
            type="text"
            v-model="form.name"
            name="name"
            class="input input-bordered w-full"
            required
          />
          <label v-if="form.errors.name" class="label">
            <span class="label-text-alt text-error">{{ form.errors.name }}</span>
          </label>
        </label>

        <label class="form-control w-full mt-2">
          <label class="label">
            <span class="label-text">Email address</span>
          </label>
          <input
            type="email"
            v-model="form.email"
            name="username"
            class="input input-bordered w-full"
            required
          />
          <label v-if="form.errors.email" class="label">
            <span class="label-text-alt text-error">{{ form.errors.email }}</span>
          </label>
        </label>

        <label class="form-control w-full mt-2">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            v-model="form.password"
            name="password"
            class="input input-bordered w-full"
            required
          />
          <label class="label">
            <span
              v-if="form.errors.password"
              class="label-text-alt text-error"
            >{{ form.errors.password }}</span>
          </label>
        </label>

        <button
          class="btn btn-primary btn-block mt-4"
          type="submit"
          :disabled="form.processing"
        >
          <span v-if="form.processing" class="loading loading-spinner"></span>
          Register
        </button>
      </form>

      <div class="px-4 text-center mt-4 text-sm">
        Already have an account?
        <a
          href="/login"
          class="link text-primary mt-1"
        >Login</a>
      </div>

      <img
        src="/images/bottom-pattern-1.webp"
        alt="pattern"
        class="absolute w-full bottom-0"
      >
    </div>
  </div>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
import Logo from '@/Shared/Logo'
import BalanceCard from "@/Shared/BalanceCard.vue";

export default {
  components: {
    BalanceCard,
    Head,
    Logo,
  },
  data() {
    return {
      form: this.$inertia.form({
        name: 'John Doe',
        username: 'johndoe',
        email: 'johndoe@yukk.me',
        password: 'Password!',
        remember: false,
      }),
    }
  },
  methods: {
    register() {
      this.form.post('/register')
    },
  },
}
</script>
